

.logo {
  max-height: 12vh;
  float: center;
}

#xany {
  color: white
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

body {
  background-image: url("./trees.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.home-title {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  color: white;
  margin-left: 4.5rem;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  margin-left: 2rem;
}

.btn {
  display: inline-block;
  padding: 1em 3.5em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: full-width;
  text-align: center;
  font-weight: 500;
  /* color: #FFFFFF */
}


.nav-icon {
  max-height: 6vh;
  color: white;
}

.slot {
  margin-top: 5rem;
  margin-left: 3rem;
}